:root {
  --scale: 1;
  --base-board-cell-size: 77px;
  --base-outline-cell-size: 20px;
}

body {
  background: #f4f6f8;
  font-family: 'Segoe UI', sans-serif;
}

#content-container {
  margin: 30px auto;
  text-align: center;
  max-width: 95%;
}