@use "core";
@use "misc";

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

table td {
  border: 1px solid #a9a9a9;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  background: white;
  position: relative;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-container, #game-container * {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  touch-action: none !important;
}

#game-container, .outline-container {
  position: relative;
  margin: 10px auto 10px auto;
}

#game-container {
  --cell-size: calc(var(--scale) * var(--base-board-cell-size));
  --grid-thickness: calc(var(--cell-size) / 12);
  margin: calc(var(--cell-size) / 2.5);

}

.outline-container {
  --cell-size: calc(var(--scale) * var(--base-outline-cell-size));
  --grid-thickness: 5px;
}

#game-container table{
  overflow: hidden;
}

#game-container td {
  cursor: pointer;
  width: var(--cell-size);
  height: var(--cell-size);
}

.outline-container td {
  width: var(--cell-size);
  height: var(--cell-size);
}

.outline-grid div {
  position: absolute;
}

.outline-grid div:not(.grid-item-container) {
  background-color: black;
}

.animate {
  transition: transform 0.4s ease;
}

.non-animate {
  transition: none;
}

/* nodes */
.node {
  position: absolute;
  font-size: 12px;
  background: #4da3ff;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  user-select: none;
  transition: background 0.2s;
}

.node.active {
  display: flex;
}

.node:hover {
  background: #6bb4ff;
}

.rotate {
  width: calc(var(--cell-size) / 3);
  height: calc(var(--cell-size) / 3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.outer-arrow {
  --arrow-width: calc(var(--cell-size) / 2);
  --arrow-height: calc(var(--cell-size) / 4);
  width: var(--arrow-width);
  height: var(--arrow-height);
}

.arrow-up {
  clip-path: polygon(0 100%, 100% 100%, 50% 0%);
}

.arrow-down {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.arrow-left {
  --arrow-width: calc(var(--cell-size) / 4);
  --arrow-height: calc(var(--cell-size) / 2);
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

.arrow-right {
  --arrow-width: calc(var(--cell-size) / 4);
  --arrow-height: calc(var(--cell-size) / 2);
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}

/* animations */
.move-left {
  transform: translateX(calc(-1 * var(--cell-size)));
}

.move-right {
  transform: translateX(var(--cell-size));
}

.move-down {
  transform: translateY(var(--cell-size));
}

.move-up {
  transform: translateY(calc(-1 * var(--cell-size)));
}

.red {
  background-color: rgba(255, 0, 0, 0.3) !important;
}

.green {
  background-color: rgba(0, 255, 0, 0.3) !important;
}

.blue {
  background-color: rgba(0, 0, 255, 0.3) !important;
}

.purple {
  background-color: rgba(128, 0, 128, 0.3) !important;
}

.magenta {
  background-color: rgba(255, 0, 255, 0.3) !important;
}





