@use "core";
@use "misc";

:root {
  --red-color: rgba(175, 85, 85);
  --green-color: rgba(95, 160, 125);
  --blue-color: rgb(175, 155, 85);
  --purple-color: rgba(150, 110, 185);
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

table td {
  border: 1px solid #a9a9a9;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  background: white;
  position: relative;
}

.outline-container td {
  border: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-container, #game-container * {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  touch-action: none !important;
}

#game-container, .outline-container {
  position: relative;
  margin: 10px auto 10px auto;
}

#game-container {
  --cell-size: calc(var(--scale) * var(--base-board-cell-size));
  --grid-thickness: 7px;
}

.outline-container {
  --cell-size: calc(var(--scale) * var(--base-outline-cell-size));
  --grid-thickness: 2px;
}

#game-container table {
  overflow: hidden;
}

#game-container td {
  cursor: pointer;
  width: var(--cell-size);
  height: var(--cell-size);
}

.outline-container td {
  width: var(--cell-size);
  height: var(--cell-size);
}

.outline-grid div {
  position: absolute;
}

.outline-container .outline-grid div {
  background-color: #f4f6f8;
}

#game-container .outline-grid div {
  background-color: #f4f6f8;
}

.animate {
  transition: transform 0.4s ease;
}

.non-animate {
  transition: none;
}

.cell span {
  display: inline-block;
  width: calc(var(--cell-width) * 0.9);
  z-index: 1000;
  position: relative;
  font-size: 30px;
  color: black;
}


/* nodes */
.node {
  position: absolute;
  font-size: 12px;
  background: darkorange;/*rgba(95, 130, 185);*/
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  user-select: none;
  transition: background 0.2s;
}

.node.active {
  display: flex;
}

.node:hover {
  background: rgb(150, 175, 225);
}

.rotate {
  width: calc(var(--cell-size) / 3.5);
  height: calc(var(--cell-size) / 3.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.outer-arrow {
  --arrow-width: calc(var(--cell-size) / 2);
  --arrow-height: calc(var(--cell-size) / 4);
  width: var(--arrow-width);
  height: var(--arrow-height);
}

.arrow-up {
  clip-path: polygon(0 100%, 100% 100%, 50% 0%);
}

.arrow-down {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.arrow-left {
  --arrow-width: calc(var(--cell-size) / 4);
  --arrow-height: calc(var(--cell-size) / 2);
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

.arrow-right {
  --arrow-width: calc(var(--cell-size) / 4);
  --arrow-height: calc(var(--cell-size) / 2);
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}

/* animations */
.move-left {
  transform: translateX(calc(-1 * var(--cell-size)));
}

.move-right {
  transform: translateX(var(--cell-size));
}

.move-down {
  transform: translateY(var(--cell-size));
}

.move-up {
  transform: translateY(calc(-1 * var(--cell-size)));
}

.red {
  background-color: rgb(215, 130, 130) !important;
}

.green {
  background-color: rgb(150, 205, 175) !important;
}

.blue {
  background-color: rgb(225, 215, 155) !important;
}

.purple {
  background-color: rgb(195, 165, 225) !important;
}





