{% extends './../base.html' %}
{% load static %}
{% block css %}<link href="{% static "css/game.min.css" %}" rel="stylesheet">{% endblock %}
{% block content %}
    <h1>{% block title %}{% endblock %}</h1>
    {% block calendar %}{% endblock %}
    <div id="icons-container">
        <a href="#" class="icon help-float"
     data-bs-toggle="modal"
     data-bs-target="#instructions-modal"
     title="Instructions"
     aria-label="Instructions">
    <i class="fa fa-circle-question"></i>
    </a>
<a href="mailto:support@rotatly.com"
   target="_blank"
   title="Contact Us"
   rel="noopener"
   class="icon contact-us-float"
   aria-label="Contact Us">
    <i class="fa-solid fa-envelope"></i>
</a>
<a href="https://www.reddit.com/r/Rotatly/" style="display: none;"
   target="_blank"
   title="Discuss on Reddit"
   rel="noopener"
   class="icon reddit-float"
   aria-label="Discuss on Reddit">
    <i class="fa-brands fa-reddit"></i>
</a>
<a href="https://github.com/proy87/rotatly"
   target="_blank"
   title="View on Github"
   rel="noopener"
   class="icon github-float"
   aria-label="View on GitHub">
    <i class="fa-brands fa-github"></i>
</a>
</div>
    <div id="target-outline-container">
        <div class="text-center fw-bold">Target outline</div>
        <div class="outline-container">
            {% include './includes/board.html' with board=outline is_outline=True %}
        </div>
    </div>
    <div>
        <div id="min-text" class="alert-card" style="display: none;">
            Congratulations! You've solved the puzzle in the minimum number of moves.<br>
            Can anyone else match your result?
        </div>
        <div id="non-min-text" class="alert-card" style="display: none;">
            Congratulations! You've solved the puzzle in <span id="moves-num"></span> moves.<br>
            Can you solve it in <span id="one-less-move"></span> moves?<br>
            Will anyone be able to repeat your result or even surpass it?
        </div>
        <div id="non-solve-text" class="alert-card" style="display: none;">
            Unfortunately, you couldn't solve the puzzle.<br>
            Maybe someone else can?
        </div>
    </div>

    <div id="game-container">
        {% include './includes/board.html' %}
        {% for row in nodes %}
            {% for node, blocked in row %}
                {% widthratio 100 size forloop.counter as left %}
                {% widthratio 100 size forloop.parentloop.counter as top %}
                <div class="node{% if not blocked.cw or not blocked.ccw %} active{% endif %}"
                     style="left: {{ left }}%; top: {{ top }}%"
                     data-row="{{ forloop.parentloop.counter0 }}" data-col="{{ forloop.counter0 }}"
                     data-value="{{ node }}"
                     data-cw="{% if blocked.cw %}false{% else %}true{% endif %}"
                     data-ccw="{% if blocked.ccw %}false{% else %}true{% endif %}">{{ node }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="btn-container" style="margin-bottom: 10px;">
        <button id="undo-move" class="btn btn-primary" disabled>Undo</button>
        <button id="restart-game" class="btn btn-danger" disabled>Restart</button>
    </div>
    <div id='share-container' class="share-card">
        <button id="copy-result" class="btn btn-success">📋 Copy Result</button>
        <div id="copy-toast" style="display:none; color:green; font-weight:bold;">
            Copied! Share anywhere.
        </div>
        <textarea id="shareable-text" style="width:100%" rows="4"></textarea>
    </div>
    <div class="text-center" style="font-weight: bold;">Number of moves made: <span id="moves-made-num">0</span></div>
    <div id="moves-container" class="text-center" style="font-weight: bold;font-size: 12px;display: none;">Moves: <span
            id="moves-sequence">no moves</span></div>
    <div class="text-center" style="font-weight: bold;">Minimum number of moves to solve: {{ game.moves_min_num }}</div>
    {% block prev_next_navigation %}{% endblock %}

<div class="modal fade" id="instructions-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fa fa-circle-question me-2"></i>How to Play
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
            <p>Make the correct outline using the fewest number of rotations.</p>
            <p>Rotate the cells until you get the correct outline.</p>
            <p>An outline consists of blocks that are separated by a black border.</p>
            <p>Letters/colors within the same block should be the same.</p>
            <p>If the block in the target outline is colored, that exact color should be in that block.</p>
            <div class="instructions-controls">
                <ul>
                    <li><i class="fa fa-arrow-rotate-right rotate-icon"></i> Click a blue node to rotate clockwise.</li>
                    <li>
                        <i class="fa fa-arrow-rotate-left rotate-icon"></i> Press and hold, or right-click a blue node,
                            to rotate counterclockwise.
                    </li>
                    <li>
                        <i class="fa fa-arrows-alt rotate-icon"></i> Slide across cells (to determine direction, you
                        need to slide across three cells).
                    </li>
                </ul>
            </div>
            <hr>
            <div>
                Have suggestions or feedback about Rotatly?<br>
                We’d love to hear from you: <a href="mailto:support@rotatly.com">support@rotatly.com</a>
            </div>
        </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script>
        let game_index = {{ game.index }};
        let moves_max_num = {{ moves_max_num }};
        let moves_min_num = {{ game.moves_min_num }};
        let outline = {{ outline_dumped }};
        let cw_symbol = '{{ cw_symbol }}';
        let ccw_symbol = '{{ ccw_symbol }}';

        let pre_moves = {{ pre_moves_dumped }};
        let canonical_url = 'https://www.rotatly.com{{ canonical_url }}';

        let track_url = '{% url 'track' %}';
    </script>
    {% if False %}
    <!-- html2canvas -->
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
    <!-- gif.js -->
    <script src="https://cdn.jsdelivr.net/npm/gif.js.optimized/dist/gif.js"></script>
    <script>
        $(function () {
            function animate($node, cw, step) {
                let row = $node.data('row');
                let col = $node.data('col');
                let $tl = $(`#cell-${row}-${col}`);
                let $tr = $(`#cell-${row}-${col + 1}`);
                let $br = $(`#cell-${row + 1}-${col + 1}`);
                let $bl = $(`#cell-${row + 1}-${col}`);
                $tl.css('transform', (cw ? 'translateX' : 'translateY') + `(${step}px)`)
                $tr.css('transform', (cw ? 'translateY' : 'translateX') + (cw ? `(${step}px)` : `(-${step}px)`))
                $br.css('transform', (cw ? 'translateX' : 'translateY') + `(-${step}px)`)
                $bl.css('transform', (cw ? 'translateY' : 'translateX') + (cw ? `(-${step}px)` : `(${step}px)`))
            }

            document.getElementById("start").addEventListener("click", async () => {
                const target = document.getElementById("board");
                const gif = new GIF({
                    workers: 2,
                    quality: 10,
                    workerScript: '{% static "js/gif.worker.js" %}'
                });
//dict(square=((2, 3, 3, 4), (4, 4, 3, 4), (2, 1, 1, 3), (1, 2, 2, 1)), min=9, index=10, disabled_nodes=[5, 9]),

                let steps = [[1, 'CW'], [6, 'CCW'], [2, 'CCW'], [1, 'CW'], [8, 'CW'], [7, 'CCW'], [6, 'CCW'], [4, 'CW'], [8, 'CCW']];

                let canvas = await html2canvas(target);
                gif.addFrame(canvas, {delay: 1000});
                for (let i = 0; i < steps.length; i++) {
                    let row = Math.floor((steps[i][0] - 1) / 3);
                    let col = (steps[i][0] - 1) % 3;
                    let $node = $('[data-row=' + row + '][data-col=' + col + ']').addClass('highlight').text(steps[i][1] === 'CW' ? '↻' : '↺');
                    for (let j = 7; j <= cell_width; j += 7) {
                        animate($node, steps[i][1] === 'CW', j)

                        let d;
                        if (i === steps.length - 1) {
                            d = (j === cell_width) ? 3000 : 500 / 11;
                        } else {
                            d = (j === cell_width) ? 1000 : 500 / 11;
                        }

                        if (j === cell_width) {
                            $node.removeClass('highlight').text($node.data('node'))
                            let $tl = $(`#cell-${row}-${col}`).css('transform', 'none');
                            let $tr = $(`#cell-${row}-${col + 1}`).css('transform', 'none');
                            let $br = $(`#cell-${row + 1}-${col + 1}`).css('transform', 'none');
                            let $bl = $(`#cell-${row + 1}-${col}`).css('transform', 'none');
                            $.rotate(row, col, steps[i][1] === 'CW')
                        }
                        const canvas = await html2canvas(target);
                        gif.addFrame(canvas, {delay: d});
                    }

                }

                gif.on("finished", blob => {
                    const img = document.createElement("img");
                    img.src = URL.createObjectURL(blob);
                    document.body.appendChild(img);
                });

                gif.render();
            });
        })
    </script>
{% endif %}
{% block additional_js %}{% endblock %}
<script src="{% static 'js/game.min.js' %}"></script>
{% endblock %}

