{% extends './base.html' %}
{% load static %}
{% block meta_title %}
    {% if archived %}
        {% if is_solved %}
            Rotatly #{{ game.index }} ({{ current_date }}) in {{ pre_moves|length }} moves
        {% else %}
            Rotatly #{{ game.index }}, {{ current_date }}
        {% endif %}
    {% else %}
        Rotatly #{{ game.index }}
    {% endif %}
{% endblock %}
{% block title %}Rotatly #{{ game.index }}{% endblock %}
{% block calendar %}
    <button class="date-picker" type="button" aria-label="Select date">
        <input
            type="date"
            id="puzzle-date"
            class="date-native-input"
            min="{{ min_date_js }}"
            max="{{ max_date_js }}"
            value="{{ current_date_js }}"
        >
        <span class="date-text">{{ current_date }}</span>
        <i class="fa-regular fa-calendar date-icon" aria-hidden="true"></i>
    </button>
{% endblock %}
{% block prev_next_navigation %}
    <div class="puzzle-nav">
        {% if previous_puzzle_url %}
            <a href="{{ previous_puzzle_url }}" class="puzzle-nav-button">
                <i class="fa-solid fa-arrow-left puzzle-nav-icon" aria-hidden="true"></i>
                <span>Previous Puzzle</span>
            </a>
        {% endif %}

        {% if next_puzzle_url %}
            <a href="{{ next_puzzle_url }}" class="puzzle-nav-button">
                <span>Next Puzzle</span>
                <i class="fa-solid fa-arrow-right puzzle-nav-icon" aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>
{% endblock %}

